body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
.container {
  width: 30%;
  background-color: #EAEAEA;
  position:relative;
  padding: 2%;
  border-radius: 0.9rem;
  margin-top: 10%;
  text-align: left;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
